.main {
    position: fixed;
    z-index: 20;
    width: 100%;
}

.basket {
    display: flex;

}

a {
    text-decoration: none;
}

.goToMain {
    font-size: 30px;
    color: gold;
}

.price {
  display: flex;
    align-items: center;
    font-size: 30px;
    color: gold;
}